@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/*
*
*
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  color: #9E9BAF;
  overflow-x: hidden;
}
/*
*
*
*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #a1d881;
}

::-webkit-scrollbar-thumb {
  background-color: #7cc661;
}

button {
  cursor: pointer;
}
/*
*
*
*/
section#intro, section#recipes, 
section#services, section#blog, 
section#membership {
  width: 100%;
  height: 100vh;
  background-size: contain;
}

section#intro {
  background-image: url(../img/Illustration.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

section#intro nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 103px;
  padding: 0 140px;
}

section#intro nav .title {
  color: #BADC58;
  font-size: 32px;
  font-weight: bold;
}

section#intro nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

section#intro nav ul li {
  color: #fff;
  font-size: 16px;
  margin: 0 16px;
}

section#intro nav ul li button {
  color: #BADC58;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  transition: 350ms all;
  cursor: pointer;
} 

section#intro nav ul li button:hover {
  color: #A2C440;
  background-color: rgb(241, 241, 241);
}

section#intro .search {
  padding: 0 140px;
  margin-top: 190px;
}

section#intro .search h1 {
  font-size: 48px;
  color: #1D164D;
}

section#intro .search .search-box {
  margin-top: 32px;
}

section#intro .search .search-box input {
  border: 1px solid #2D3561;
  border-radius: 5px;
  background-color: transparent;
  padding: 16px;
  width: 340px;
  transition: 300ms all;
}

section#intro .search .search-box input:focus {
  border-color:#A2C440;
}

section#intro .search .search-box button {
  padding: 16px;
  background-color: #BADC58;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 350ms all;
  cursor: pointer;
}

section#intro .search .search-box button:hover {
  color: rgb(241, 241, 241);
  background-color: #A2C440;
}
/*
*
*
*/
section#recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFC;
}

section#recipes .top {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

section#recipes .top h1 {
  color: #1D164D;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

section#recipes .top p {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}

section#recipes .recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#recipes .recipes-container .recipes-row {
  display: flex;
  margin: 0 0 36px;
}

section#recipes .recipes-container .recipes-row .recipe-box {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 18px;
  width: 528px;
}

section#recipes .recipes-container .recipes-row .recipe-box .recipe-image {
  width: 100%;
  height: 100%;
}

section#recipes .recipes-container .recipes-row .recipe-box .recipe-image img {
  height: 100%;
}

section#recipes .recipes-container .recipes-row .recipe-box .recipe-content {
  padding: 0 32px 0 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

section#recipes .recipes-container .recipes-row .recipe-box .recipe-content h1 {
  color: #1D164D;
  font-size: 24px;
  margin-bottom: 16px;
}

section#recipes .recipes-container .recipes-row .recipe-box .recipe-content button {
  padding: 14px 24px;
  border: none;
  background-color: #BADC58;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
/*
*
*
*/
section#services {
  background-image: url(../img/bloco_services.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  /* background-size: contain; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section#services .content-container {
  padding: 0 248px 0 0;
  margin-top: 146px;
}

section#services .content-container h1 {
  color: #2D3561;
  font-size: 32px;
}

section#services .content-container p {
  font-size: 16px;
  color: #BCBCBC;
  font-family: 'Muli', sans-serif;
  margin: 30px 0;
}

section#services .content-container button {
  padding: 14px 24px;
  border: none;
  background-color: #BADC58;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0px 6px 15px #BADC58;
}
/*
*
*
*/
section#blog {
  background-color: #FAFAFC;
  display: flex;
  flex-direction: column;
}

section#blog .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px 0 64px;
}

section#blog .top .top-content {
  max-width: 510px;
  text-align: center;
}

section#blog .top h1 {
  color: #1D164D;
}

section#blog .top p {
  margin-top: 16px;
}

section#blog .container-article-row {
  position: relative;
}

section#blog .container-article-row .articles-row  {
  display: flex;
  position: absolute;
  left: 150px;
}

section#blog .articles-row .article-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 24px;
}

section#blog .articles-row .article-box .article-image {
  margin-bottom: 24px;
}

section#blog .articles-row .article-box .article-image img {}

section#blog .articles-row .article-box .article-description {
  padding: 0 24px;
}

section#blog .articles-row .article-box .article-description h1 {
  color: #1D164D;
}

section#blog .articles-row .article-box .article-description .author-box {
  display: flex;
  align-items: center;
  margin: 24px 0 32px;
}

section#blog .articles-row .article-box .article-description .author-box .author-image {
  margin-right: 8px;
}

section#blog .articles-row .article-box .article-description .author-box .author-image img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

section#blog .articles-row .article-box .article-description .author-box .author-name {}
/*
*
*
*/
section#membership {
  background-image: url(../img/bloco_final_image.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section#membership .membership-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#membership .membership-container .flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section#membership .membership-container h1 {
  color: #2D3561;
}

section#membership .membership-container .input-box {
  margin-top: 32px;
}

section#membership .membership-container .input-box input {
  border: 1px solid #2D3561;
  border-radius: 5px;
  background-color: transparent;
  padding: 16px;
  width: 340px;
  transition: 300ms all;
  margin-right: 16px;
}

section#membership .membership-container .input-box button {
  padding: 16px;
  background-color: #BADC58;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 350ms all;
  cursor: pointer;
  box-shadow: 0px 6px 15px #BADC58;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 137px;
  font-family: 'Muli', sans-serif;
}

footer .left {
  color: #1D164D;
}

footer .right {
  text-align: end;
}

footer .left, footer .right a {
  color: #9E9BAF;
  text-decoration: none;
  margin: 0 16px;
}

footer .left, footer .right a:hover {
  color: rgb(146, 144, 156);
}